[MASTER]
disable=
    C0301, # Line too long
    C0103, # snake case
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    E0611, # bad import, pylint is really bad about catching these properly